<!DOCTYPE html>
<html>
<head>
	<title>Crypto data</title>
	<link rel="stylesheet" type="text/css" href="./assets/styles.css?v={{ version }}" />
</head>
<body>
	<main class="container" id="app">
		<header class="header">
			<h1>Historical cryptocurrencies data</h1>
			<p>A small web script to get historical prices of cryptocurrencies builded on data from - <a href="https://min-api.cryptocompare.com/" target="_blank">https://min-api.cryptocompare.com/</a> and <a href="https://api.coinmarketcap.com/" target="_blank">https://api.coinmarketcap.com/</a>.</p>
		</header>
		<div class="row">
			<div class="six columns">
				<label for="date-start">Start date:</label>
				<input class="u-full-width" type="date" placeholder="" id="date-start" />
			</div>
			<div class="six columns">
				<label for="date-start">End date:</label>
				<input class="u-full-width" type="date" placeholder="Let empty if end day is today." id="date-start" />
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="amount">Amount of crypto currencies:</label>
				<input class="u-full-width" type="number" placeholder="10 is default amount" id="amount" />
			</div>
		</div>
		<div class="button-wrap">
			<input class="button-primary" type="submit" value="Go for DATA!" />
		</div>
	</main>
	<script src="./assets/jquery.min.js"></script>
	<script src="./assets/script.js?v={{ version }}"></script>
</body>
</html>